.footer-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  background: #ffffff;
  padding: 100px 0;
}

.footer-col-1 h3 {
  width: 228px;
  font-family: "Montserrat", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 32px;
  color: #0066f5;
}

.footer-col-1 p {
  width: 498px;
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 16px;
  color: #022b69;
  padding-top: 10px;
  line-height: 2rem;
}
.footer-icon-container {
  width: 240px;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-col-1-2-div {
  display: flex;
  gap: 70px;
}

.footer-icon-container img {
  width: 33px;
  height: 33px;
  cursor: pointer;
}

.footer-col-2 h3,
.footer-col-3 h3 {
  font-family: "Lexend";
  font-weight: 500;
  font-size: 28px;
  color: #0066f5;
}

.footer-col-2-items,
.footer-col-3-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 10px;
}

.footer-col-2-items a,
.footer-col-3-items a {
  text-decoration: none;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 16px;
  color: #022b69;
}

@media screen and (min-width: 280px) and (max-width: 500px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-col-1 h3 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    margin-left: 0;
  }

  .footer-col-1 p {
    text-align: center;
    width: 100%;
    padding: 5px 10px;
    font-size: 12px;
  }

  .footer-icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .footer-icon-container img {
    width: 20px;
    height: 20px;
  }

  .footer-col-1-2-div {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    margin-top: 30px;
  }

  .footer-col-1-2-div a {
    font-size: 12px;
  }
  .footer-col-1-2-div h3 {
    font-size: 14px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .footer-col-1 h3 {
    width: 100%;
    text-align: center;
    font-size: 24px;
  }

  .footer-col-1 p {
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
  }

  .footer-icon-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 30px;
    margin-bottom: 100px;
  }

  .footer-col-1-2-div a {
    font-size: 14px;
  }

  .footer-col-1-2-div h3 {
    font-size: 20px;
  }
}

@media screen and (min-width: 801px) and (max-width: 999px) {
  .footer-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 100px;
    gap: 100px;
  }

  .footer-col-1 h3 {
    font-size: 28px;
  }

  .footer-col-1 p {
    font-size: 18px;
  }
}
