.home-button-div Button {
  width: 248px;
  height: 80px;
  margin-left: 15px;
  margin-top: 50px;
  margin-bottom: 150px;
  background: #0067f5;
  box-shadow: 14px 14px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  font-weight: 700;
  font-size: 28px;
}

.home-button-div {
  width: 70%;
  padding-top: 50px;
}

.home-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.home-container h3 {
  width: 70%;
  font-family: "Poppins";
  font-weight: 900;
  font-size: 90px;
  color: #0067f5;
  text-shadow: 10px 10px 10px rgba(64, 123, 255, 0.1);
}

.home-container p {
  width: 70%;
  height: 58px;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 24px;
  color: #022b69;
  line-height: 3rem;
}

.approved-image {
  width: 100%;
}

.home-col-3-container {
  margin: 150px 0;
}

.home-col-3 {
  margin: 100px 0;
  display: flex;
  justify-content: space-evenly;
}

.home-col-3-1,
.home-col-3-2 {
  display: flex;
  gap: 70px;
  flex-direction: column;
}

@media screen and (min-width: 280px) and (max-width: 768px) {
  .home-container {
    margin-top: 30px;
  }
  .home-container h3 {
    font-size: 20px;
    width: 80%;
  }

  .home-container p {
    width: 80%;
    line-height: 2rem;
    font-size: 14px;
    padding-top: 10px;
  }

  .home-button-div {
    width: 80%;
  }

  .home-button-div Button {
    width: 150px;
    height: 60px;
    font-size: 20px;
  }
}
.testimonial-home-div {
  margin-bottom: 200px;
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .home-container h3 {
    font-size: 30px;
  }

  .home-container p {
    font-size: 20px;
  }
}

@media screen and (min-width: 780px) and (max-width: 1000px) {
  .home-container h3 {
    font-size: 38px;
  }
}
