.testimonial-header-container {
  margin: 200px 0 70px 0;
}

.testimonial-component-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width: 280px) and (max-width: 800px) {
  .testimonial-component-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 801px) and (max-width: 1500px) {
  .testimonial-component-container {
    display: flex;
    gap: 50px;
    align-items: center;
    flex-wrap: nowrap;
  }
}
